In [99]:
import pandas as pd

In [100]:
# import re

# strs = "how much for the maple syrup? $20.99? That's ricidulous!!!"
# print(strs)
# nstr = re.sub(r'[?|$|.|!]',r'',strs)
# print(nstr)
# nestr = re.sub(r'[^a-zA-Z ]',r'',nstr)
# print(nestr)

In [101]:
df_capec = pd.read_csv('dataset_capec_known.csv')

# Optional (not effect very much)
df_capec['text'] = df_capec['text'].str.replace('/',' ')
df_capec.head()

                                                text         label
0  GET  blog index.php 2020 04 04 voluptatum-repr...  000 - Normal
1                           GET  blog xmlrpc.php?rsd  000 - Normal
2  GET  blog index.php 2020 04 04 nihil-tenetur-e...  000 - Normal
3  GET  blog index.php 2020 04 04 explicabo-qui-f...  000 - Normal
4  GET  blog index.php 2020 04 04 explicabo-qui-f...  000 - Normal

In [102]:
known_request = [d.lower() for d in df_capec['text']]
known_request = [' '.join(d.split()) for d in known_request]

In [103]:
# import re

# known_request = [re.sub(r'[^a-zA-Z ]',r' ',d) for d in known_request]
# known_request = [' '.join(d.split()) for d in known_request]
# known_request

In [104]:
df_transfer = pd.read_csv('dataset_capec_unknown.csv')

# Optional (not effect very much)
df_transfer['text'] = df_transfer['text'].str.replace('/',' ')
df_transfer.head()

,text,label
0,GET index.php?s= Index \x5Cthink\x5Capp invok...,242 - Code Injection
1,GET index.php?s= module action param1 ${@die(...,88 - OS Command Injection
2,POST blog index.php my-account edit-password ...,153 - Input Data Manipulation
3,POST blog index.php my-account edit-password ...,153 - Input Data Manipulation
4,POST blog index.php my-account edit-password ...,153 - Input Data Manipulation

In [105]:
unknown_request = [d.lower() for d in df_transfer['text']]
unknown_request = [' '.join(d.split()) for d in unknown_request]

In [106]:
# unknown_request = [re.sub(r'[^a-zA-Z ]',r' ',d) for d in unknown_request]
# unknown_request = [' '.join(d.split()) for d in unknown_request]
# unknown_request

In [107]:
len(known_request)

576619

In [108]:
len(unknown_request)

18253

In [109]:
import random

random.shuffle(known_request)
random.shuffle(unknown_request)

### Web attack full

In [110]:
test_known = known_request[0:6000]
train_known = known_request[6000:]

In [97]:
with open('web_attack_full/test/known.txt', 'w') as fp:
    fp.write("\n".join(str(item) for item in test_known))

with open('web_attack_full/test/known-outliers.txt', 'w') as fp:
    fp.write("\n".join(str(item) for item in unknown_request))

with open('web_attack_full/train/known.txt', 'w') as fp:
    fp.write("\n".join(str(item) for item in train_known))

### Web attack subset

In [98]:
train_known_subset = known_request[18000:118000]

with open('web_attack_subset/test/known.txt', 'w') as fp:
    fp.write("\n".join(str(item) for item in test_known))

with open('web_attack_subset/test/known-outliers.txt', 'w') as fp:
    fp.write("\n".join(str(item) for item in unknown_request))

with open('web_attack_subset/train/known.txt', 'w') as fp:
    fp.write("\n".join(str(item) for item in train_known_subset))

In [48]:
# import numpy as np
# from sklearn.metrics import f1_score

In [76]:
# y_true_empty = [1, 0, 0, 0, 0, 0]
# y_pred_empty = [0, 0, 0, 0, 0, 0]

# f1_score(y_true_empty, y_pred_empty, average='weighted')

0.7575757575757575

In [81]:
# preds = [0.6, 0.7, 0.1]
# preds = [1 if d > 0.5 else 0 for d in preds]
# preds

[1, 1, 0]